@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
  list-style: none;
  text-decoration: none;
  color: unset;
}

body{
  background-color: white;
}

header{
  height: 300px;
  background-image: url(/assets/day.jpeg);
  background-size: cover;
  background-position: center;
}

img.social{
  width: 20px;
  margin: 0px 10px;
}

footer{
  background-color:  #f1f1f1;;
  color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}